/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Lato";
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav,
footer,
header,
aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input,
button,
textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1350px;
  min-height: 100vh;
  margin: 0 auto;
}


/* Head section */

.head {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 1100px;
  align-items: center;
}

.ottakars {
  font-size: 28px;
  text-transform: uppercase;
  cursor: pointer;
}

ul {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

ul li {
  font-size: 18px;
  cursor: pointer;
}
 
.btn {
  padding: 10px 22px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
}


/* Home section */


.home {
  background: #CDE3E6;
  max-width: 1351px;
  min-width: 351px;
  height: 599px;
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  align-items: center;
  margin-bottom: 90px;
}

.home-left {
  height: 440px;
  width: 520px;
}

.home__title {
  font-size: 55px;
  margin-top: 62px;
  line-height: 67px;
}

.home__subtitle {
  font-size: 18px;
  margin-top: 20px;
  line-height: 27px;
  width: 400px;
}

.home__btn {
  margin-top: 40px;
  font-size: 16px;
  padding: 12px;
  background: #1D1D4A;
  width: 130px;
  text-align: center;
  color: white;
  border-radius: 9px;
  cursor: pointer;
}

.home__btn2 {
  margin-top: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 8px;
}

.home__books {
  display: flex;
  gap: 25px;
  align-items: center;
}

.home__books img {
  height: 350px;
  border-radius: 12px;
  cursor: pointer;
}



/* favourites section */

.favourites {
  width: 100%;
  padding: 10px 0;
}

.favourites__title {
  font-size: 50px;
  text-align: center;
}

.favourites__btns {
  margin: 0 auto;
  padding: 10px 10px 50px;
  justify-content: space-between;
  cursor: pointer;
}

.favourites__btn1 {
  padding: 5px 15px;
  border-radius: 5px;
  background: #a4f08b;
}

.favourites__btn1:hover {
  background: #41b41b;
}

.favourites__btn1 img {
  width: 25px;
}

.favourites__btn2 img {
  width: 25px;
}

.favourites__books {
  display: flex;
  gap: 30px;
  margin-bottom: 70px;
}

.favourites__full-left {
  width: 9%;
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 0 12px 12px 0;
  gap: 20px;
}

.favourites__full-left:hover {
  background: #bff0ae;
}

.favourites__full-left:hover .favourites__noimg {
  background: #bff0ae;
}

.favourites__fulltitle-left {
  margin-top: 10px;
  font-size:  22px;
}

.favourites__noimg {
  width: 100%;
  height: 310px;
  border-radius: 0 8px 8px 0;
  background: #ececec;
}

.favourites__full-right {
  justify-content: start;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.favourites__full-right:hover {
  background: #bff0ae;
}

.favourites__full-right:hover .fav2 img {
  background: #bff0ae;
}

.favourites__fulltitle-right {
  text-align: right;
  font-size: 22px;
}

.favourites__fullsubtitle-right {
  line-height: 20px;
  margin-top: 20px;
  text-align: right;
}

.favourites__full {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 10px;
  gap: 20px;
  cursor: pointer;
}

.fav2 img {
  height: 320px;
  width: 124px;
  padding: 20px 0 20px 20px;
  background: #ececec;
  border-radius: 8px 0 0 8px;
}

.fav img {
  height: 320px;
  width: 252px;
  padding: 20px;
  background: #ececec;
  border-radius: 8px;
}

.favourites__full:hover {
  background: #bff0ae;
}

.favourites__full:hover .fav img {
  background: #bff0ae;
}

.favourites__full:hover .favourites__dollor-btn {
  background: white;
}

.favourites__dollor {
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.favourites__money {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.favourites__dollor-btn {
  padding: 10px;
  width: 60%;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.favourites__fulltitle {
  font-size: 22px;
}

.favourites__fullsubtitle {
  margin-top: 20px;
  line-height: 20px;
  width: 100%;
}

.favourites__see-btn {
  background: #1D1D4A;
  padding: 12px;
  width: 160px;
  border-radius: 6px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 17px;
  cursor: pointer;
}


/* Semmer section */


.semmer {
  width: 100%;
  height: 550px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #CAE1E4;
}

.semmer__center {
  width: 35%;
  gap: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semmer__center-title {
  font-size: 50px;
  text-align: center;
}

.semmer__center-subtitle {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.semmer__center-btn {
  font-size: 17px;
  color: white;
  background: #1D1D4A;
  padding: 11px 22px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}



/* Best Sellers section */

.best {
  width: 100%;
}

.best__title {
  padding: 70px 0 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.best__title h2 {
  font-size: 50px;
}

.best__btn {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.best__left {
  padding: 4px 16px;
  background: #7f7fb3;
  border-radius: 4px;
}

.best__left:hover {
  background: #2C2C56;
}

.best__left img {
  width: 25px;
}

.best__right {
  padding: 4px 16px;
  background: #7f7fb3;
  border-radius: 4px;
}

.best__right:hover {
  background: #2C2C56;
}

.best__right img {
  width: 25px;
}

.sellers {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.sellers__book {
  padding: 12px 25px;
  border-radius: 6px;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.sellers__book h3 {
  font-size: 18px;
  line-height: 27px;
}

.sellers__money {
  display: flex;
  gap: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
}



/* Inspiration section */


.inspiration {
  display: flex;
}

.inspiration__left {
  background: #CEE4E8;
  border-radius: 15px;
  width: 50%;
  padding: 0 35px;
}

.inspiration__right {
  gap: 20px;
  padding: 100px 50px 50px;
  width: 50%;
}

.inspiration__right-title {
  font-size: 50px;
}

.inspiration__right-subtitle {
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
}

.inspiration__right-btn {
  margin-top: 35px;
  padding: 7px 17px;
  border-radius: 7px;
  border: 1px solid black;
  background: #1D1D4A;
  color: white;
  text-align: center;
  width: 120px;
  cursor: pointer;
}



/* Cards section */


.cards {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  width: 100%;
}

.cards__one {
  background: #f1e2b0;
  width: 32%;
  height: 230px;
  border-radius: 8px;
  position: relative;
}

.cards__one img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 220px;
}

.cards__three img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 130px;
}

.cards__title {
  margin: 60px 0 20px 30px;
  font-size: 25px;
  width: 55%;
}

.cards__p {
  font-size: 14px;
  margin-left: 30px;
}

.cards__two {
  background: #D9FECD;
  width: 32%;
  height: 230px;
  border-radius: 8px;
}

.cards__three {
  background: #CAD4FC;
  width: 32%;
  height: 230px;
  border-radius: 8px;
  position: relative;
}



/* released section */


.released {
  margin-top: 40px;
  width: 100%;
}

.released__title {
  padding: 70px 0 40px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.released__title h2 {
  font-size: 50px;
}

.released__btn {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.released__left {
  padding: 4px 16px;
  background: #7f7fb3;
  border-radius: 4px;
}

.released__left:hover {
  background: #2C2C56;
}

.released__left img {
  width: 25px;
}

.released__right {
  padding: 4px 16px;
  background: #7f7fb3;
  border-radius: 4px;
}

.released__right:hover {
  background: #2C2C56;
}

.released__right img {
  width: 25px;
}

.just {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.just__book {
  padding: 12px 25px;
  border-radius: 6px;
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.just__book h3 {
  font-size: 18px;
  line-height: 27px;
}

.just__money {
  display: flex;
  gap: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
}

.just__btn {
  padding: 10px 14px;
  border: 1px solid black;
  border-radius: 7px;
  width: 140px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
}



/* community section */


.community {
  margin-top: 100px;
  padding: 90px 60px 0 140px;
  width: 100%;
  display: flex;
  background: #D2E5E7;
  height: 500px;
}

.community__title {
  font-size: 50px;
  margin-bottom: 25px;
  width: 50%;
}

.community__subtitle {
  font-size: 16px;
  width: 370px;
  line-height: 22px;
}

.community__icons {
  display: flex;
  margin-top: 40px;
  width: 60%;
  gap: 70px;
}

.community__icons-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community__icons img {
  cursor: pointer;
  width: 35px;
}

.community__icons h4 {
  width: 55px;
  margin-top: 12px;
  line-height: 20px;
  text-align: center;
}

.community__right {
  padding-left: 65px;
  display: flex;
  gap: 22px;
}

.one {
  margin-top: 35px;
}

.one1 {
  margin-top: 85px;
}

.one3 {
  margin-top: 60px;
}

.community__right img {
  height: 230px;
  width: 150px;
}



/* Footer section */


footer {
  width: 100%;
  padding: 90px 40px 90px;
  background: white;
}

.container__left {
  width: 20%;
  height: 260px;
  gap: 20px;
}

.container__left p {
  font-size: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.container__left ul {
  display: block;
  padding: 0;
}

.container__left li {
  margin-top: 15px;
}

.container__center {
  padding-top: 10px;
  width: 42%;
  height: 260px;
  display: block;
  justify-content: center;
}

.container__center-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.center-center {
  width: 100%;
  justify-content: center;
  gap: 20px;
  display: flex;
  margin-top: 30px;
}

.center-center h3 {
  text-align: center;
  width: 110px;
  margin: 0 auto;
  line-height: 20px;
}

.container__center-in div {
  width: 200px;
  height: 170px;
  margin-top: 20px;
  background: #D9D9D9;
  border-radius: 8px;
}

.container__right {
  width: 38%;
  padding-left: 40px;
  height: 260px;
}

.container__right-title {
  font-size: 26px;
  width: 240px;
  margin-bottom: 40px;
}

.container__right-input {
  display: flex;
  padding: 5px;
  border: 1px solid black;
  width: 330px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.container__right-input input{
  width: 230px;
}

.container__right h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.container__right-btn {
  padding: 8px 17px;
  background: #1D1D4A;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.container__right-logo {
  display: flex;
  gap: 20px;
}

.container__right-logo img {
  cursor: pointer;
}

.all__right {
  padding: 30px;
  width: 100%;
}

.all__right-title {
  font-size: 14px;
  text-align: center;
}